.top-bar {
  background-color: #fff;
  width: 100%;
  height: 40px;
  line-height: 40px; /* 顶栏的高度，根据实际情况进行调整 */
  text-align: center; /* 水平居中对齐 */
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  border: 2px solid #e5e7eb;
}

.top-bar .logo {
  width: 200px; /* 根据实际需要调整Logo的宽度 */
  position: absolute;
  top: 0px;
  left: 20px; 
  cursor: pointer;
}

.top-bar nav {
  margin-left: 225px; /* 根据实际需要调整右边距的大小，确保不会与 Logo 发生重叠 */
}

.top-bar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 50px;
}

.top-bar ul li:not(:last-child) {
  margin-right: 3rem;
}

.top-bar ul li {
  color: rgb(14, 8, 8);
  margin-right: 10px;
}

.link-container {
  width: 700px;
  margin-left: 250px;
  float: left;
  margin-right: 50px;
}

.link-container a {
  margin-right: 16px; 

}

.link-container a svg{
  width: 30px;
  height: 30px;
  cursor: pointer;
  vertical-align: middle; 
}

.link-container a span{
  margin-top: 10px;
  margin-left: 5px;
  color: black;
  vertical-align: middle;
}

.hover-image {
  display: none;
  position: absolute; /* 或其他定位方式，视需求而定 */
  width: 200px; /* 按需设置 */
  height: auto; /* 按需设置 */
  z-index: 100; /* 确保图片显示在其他内容之上 */
}

/* 当鼠标悬停在链接上时，显示图片 */
a:hover .hover-image {
  display: block;
}

.link-container a:last-child {
  margin-right: 0;
}

.menu-items li {
  font-weight: bold;
}

.container {
  display: flex;
  height: calc(100vh - 60px); 
  /* height: 100vh; */
  margin-top: 60px;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  padding: 10px;
  border: 2px solid #e5e7eb;
}

.content {
  flex-grow: 1;
  width: calc(100vw - 250px);
  padding: 20px;
  background-color: #f5f5f5;
  /* overflow: auto; */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
}

.sidebar ul ul {
  margin-left: 10px;
}

.sidebar ul li {
  cursor: pointer;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.sidebar ul li:hover {
  background-color: #bbd0ff;
}

.sidebar ul li.selected {
  background-color: #bbd0ff;
}

.sidebar ul ul li {
  margin-bottom: 5px;
  padding-left: 10px;
}

.custom-arrow {
  float: right;
  color:rgb(14, 92, 238);
}

.dropdown-link {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:active {
  color: black;
}

.toggle-button-cover {
  /* display: table-cell; */
  /* position: relative; */
  width: 50px;
  height: 40px;
  box-sizing: border-box;
  float: right;
  margin-right: 100px;
}

.button-cover {
  height: 100px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

#button-3 .knobs:before {
  content: "CN";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #03a9f4;
  border-radius: 50%;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active + .knobs:before {
  width: 46px;
  border-radius: 100px;
}

#button-3 .checkbox:checked:active + .knobs:before {
  margin-left: -26px;
}

#button-3 .checkbox:checked + .knobs:before {
  content: "EN";
  left: 42px;
  background-color: #f44336;
}

#button-3 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

